@tailwind base;
@tailwind components;
@tailwind utilities;

.parallelogram {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

img {
  width: 150px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px; /* Adjust the gap between items */
}
.masonry > * {
  break-inside: avoid; /* Prevent content from breaking inside */
}
